body{
    background-color: #D1F6F6;
}
img {
  width: 200px;
  height: 100px;
}

.satu{
  width: 1205px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 37px;
  background: linear-gradient(239deg, #0F1012 30.62%, #1A2448 63.11%, #304EBA 90.96%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
}

.dua{
  margin-top: -30px;
  width: 1206px;
  height: 101px;
  flex-shrink: 0;
  border-radius: 27px;
  background: linear-gradient(271deg, #0D170E 9.42%, #24722B 81.06%);
  color: white;
  text-align: center;
}

.tiga{
  margin-top: 17px;
  width: 1206px;
  height: 436px;
  display: flex;
  border-radius: 27px;
  background: #ACCCD3;
}

.empat{
    margin-top: 57px;
    margin-left: 32px;
    width: 544px;
    height: 313px;
    display: flex;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.diag1{
    margin-top: 67px;
    margin-bottom: 145px;
    margin-left: 70px;
    margin-right: 372;
    width: 102px;
    height: 101px;
}

.diag2{
    margin-top: 67px;
    margin-bottom: 141px;
    margin-left: 150px;
    margin-right: 82px;
    width: 102px;
    height: 101px;
}

.text1{
    display: flex;
width: 146px;
height: 21px;
flex-direction: column;
justify-content: flex-end;
flex-shrink: 0;
}

text2{
    margin-top: 104px;
    margin-bottom: 162px;
    margin-left: 450px;
    margin-right: 703px;
    display: flex;
width: 52px;
height: 21px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}